window {
margin: 0px;
border: none;
background-color: #11121D;
color: #d3d3d3; /* Older:   color: #f8f8f2;*/
font-family: JetBrainsMono Nerd, JetBrainsMono;
font-size: 15px;
}

#input {
border-radius: 0px;
border: none;
background-color: #44475a;
/*min-height: 35px;*/
}

#inner-box {
border: none;
}

#outer-box {
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
} 

#entry:selected {
background-color: #282a36;
outline: none;
}

#text:selected {
color: #bd93f9; 
}
